**Comments in Python**

**1.single line comment use #**

**2.Multi Line comment use (Triple cot) ("""    """)**

In [3]:
# multi line comment use """  """(triple cot) or single line comment use # (hash)
"""
  hello world 
"""
print("hello world")

hello world

**Data Type**

In [5]:
a=12 # int
b=10.5 # float
c=5+ 6j #complex number
d=" Good Morning" # string

**Sequence data type**
- list  
- Tuple
- set
- dictionary

In [7]:
# list
x=["xyz","1","20.8","abc_20"]
print(x)

# tuple
y=("neha","28","56.9","abc_78")
print(y)

# set
z={"3","pqr","moni"}
print(z)

# dictionary
d={"name":"Neha","age":"22"}
print(d)

['xyz', '1', '20.8', 'abc_20']
('neha', '28', '56.9', 'abc_78')
{'3', 'moni', 'pqr'}
{'name': 'Neha', 'age': '22'}

**Type conversion in Python**

In [9]:
type(x)

list

In [10]:
# list to tuple
tuple(x)
type(x)

list

In [11]:
#int to string
type(a)
str(a)

'12'

In [12]:
print(a)

12

In [13]:
ab = 12 # int to float 
ba=12.5  # float to int
ca="233" # string to int
xy=["asd","sdc","sds"]  # list to tuple
df=("xadi","243","34f","24dsdz") # convert to set
gf={"sdsj","ffgs","dfytf","tygy"} # convert to list

In [14]:
ab = 12 

float(ab) # int to float

12.0

In [15]:
ba=12.5
int(ba) # float to int

12

In [16]:
ca="233"
int(ca) # string to int

233

In [17]:
xy=["asd","sdc","sds"]
tuple(xy) # list to tuple

('asd', 'sdc', 'sds')

In [18]:
df=("xadi","243","34f","24dsdz")
set(df) # convert to set

{'243', '24dsdz', '34f', 'xadi'}

In [19]:
gf={"sdsj","ffgs","dfytf","tygy"}
list(gf) # convert to list

['dfytf', 'sdsj', 'ffgs', 'tygy']

# Control structure & conditional statement

In [37]:
# if else
x=int(input("enter a integer:")) # take input from user
if x % 2==0:
    print("x is even") # check number is even or odd if  condition is true then return x is even
else:
    print("x is odd") # number is odd then return x is odd

enter a integer: 5

x is odd

In [47]:
# if elif else
percentage=float(input("Enter your percentage:"))
if percentage >=90:  # check percentage is greater than 90  return Grade A +
    print("Grade A+")
elif percentage >= 80: #check percentage is greater than 80  return Grade A
    print("Grade A")
elif percentage >=70:  #check percentage is greater than 70  return Grade B+
    print("Grade B+")
elif percentage >=60:  #check percentage is greater than 60  return Grade B
    print("Grade B")
elif percentage >=40:  #check percentage is greater than 40  return pass 
    print("pass")
else:
    print("Fail")  # other wise return Fail (leass than 40)

Enter your percentage: 86

Grade A

# Loops
- perform task repeatadly.

In [52]:
# for loop # use when we have any sequence
number=5
for i in range(1,11):
    print(number,'x',i,'=',number*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [63]:
# while loop 
count=1  # initial digit
while count <=10:  # digit less than equal to 10  # when conditon is true until while loop excuted. 
    print(count)
    count +=1 # for increase  digit

1
2
3
4
5
6
7
8
9
10

In [5]:
#1.minimum of three number
a=int(input("Enter first number:"))
b=int(input("Enter Second number:"))
c=int(input("Enter third number:"))
if a < b:
    print("A is minimum number")
elif b < c:
    print("B is minimum number")
else:
    print("C is minimum number")

Enter first number: 10
Enter Second number: 20
Enter third number: 30

A is minimum number

In [30]:
# 2.check number is prime or not
num=int(input("Enter number:")) # take input form user
count=0   # count initialized to 0
for i in range(1,num+1):   # it start form 1 to num
    if num % i==0:
        count=count +1 # if it is divisible by i the count is increase
if count == 2: 
    print(num,"is prime number")
else:
    print(num,"is not prime number")

Enter number: 7

7 is prime number

In [3]:
#3. count down timer take the number as user input and count down the number till 0
count_down_time=int(input("entre the count down time:"))
while count_down_time >=0:
    print("count down time ",count_down_time,)
    count_down_time -=1

entre the count down time: 5

count down time  5
count down time  4
count down time  3
count down time  2
count down time  1
count down time  0

In [15]:
# 4.number pyramid
n=int(input("enter the number"))
for i in range(1,n+1):  # i for row
    for j in range(1,i+1):  # j for column
        print(j ,end=' ')
    print() # print number to the next line

enter the number 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [17]:
rows=int(input("enter the number"))
for i in range(1,rows+1):
    print(*range(1,i+1)) # * (all) use for unpack the output pattern.

enter the number 4

1
1 2
1 2 3
1 2 3 4

# loop control Statement
- break : It break the condition until its execute. 
- continue : continue the condition (check all condition).
- pass : work as a place holder. (when we have no logic or empty loop then we use pass)

**1.write a program that print all prime number within a specified range provided by the user.**

In [6]:
start_no=int(input("Enter start number:")) # take  starting digit from user
end_no=int(input("Enter end number:"))  # take last digitfrom user
print(f"prime number between {start_no} and {end_no}:")
for i in range(start_no,end_no + 1):   # define the range where which we want to prime number between given range.
    if i > 1:                       # this check the number is less than 1 i.e not prime # end _no +1 last disgit also include
        for num in range(2,i):
            if i% num == 0:       # check the number has any divisible by 1 or itself
                break    # not prime  and exit the loop
        else:
            print(i)  # print only prime number

Enter start number: 1
Enter end number: 20

prime number between 1 and 20:
2
3
5
7
11
13
17
19

**2.sum of natural number**

In [1]:
number=int(input("Enter a number:")) # take input from user
sum=0  # intial  sum is 0
for i in range(1,number + 1): # define the range start from 1  upto number which we provide.
    sum +=i  # add number 
 
print("the sum of natural number is",sum)

Enter a number: 23

the sum of natural number is 276

**3.write a program that print all even number between two number provided by the user.**

In [16]:
first=int(input("Enter start number:")) # take  starting digit from user
last=int(input("Enter end number:"))  # take last digitfrom user
print(f"even number between {first} and {last}:")
for i in range(first,last + 1):
    if i % 2 == 0:
        print(i)

Enter start number: 1
Enter end number: 10

even number between 1 and 10:
2
4
6
8
10

5.**write a program to calculate the sum of the digit of a number provided by the user.**

In [7]:
number=int(input("Enter a number:"))
sum=0
while number > 0: 
    sum += number % 10 # add last digit digit to sum
    number //= 10  # remove last digit from number
print("sum of digit:",sum)

Enter a number: 27

sum of digit: 9

**6.write a program that count the number of vowels in a given string.**

In [34]:
string=input("Enter your string:")
vowel=0  # initial count is 0
for i in string:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O'  or i=='U':  # check condition (vowel like a,e,i,o,u or A,E,I,O,U  present in the string or not)
        vowel=vowel + 1  # if  yes then add it
print("The count of Vowels are:",vowel)

Enter your string: Neha

The count of Vowels are: 2

**7.calculate the GCD(Gretest common divisor)**

In [41]:
num1=int(input("enter the first number :"))
num2=int(input("enter the second number:"))
x=num1
y=num2
while num1 != num2:
    if num1 > num2:
        num1 -= num2 # if num1 is less than num2 and subtract it from num2 and strore in num1
    else:
        num2 -= num1
print("GCD of",x,"and",y,"is",num1)

enter the first number : 36
enter the second number: 60

GCD of 36 and 60 is 12

4.**convert temprature from celsius to fahrenheit**

In [3]:
temprature=float(input("Enter the Temprature  in celcius:")) # take input from user
fahreheit=(9/5*temprature)+32  # to convert celcius  to fahreheit
print("Temprature in Fahreheit is :",fahreheit)

Enter the Temprature  in celcius: 46

Temprature in Fahreheit is : 114.8

**1.program to print half pyramid using***

In [3]:
x=6
for i in range(1,x+1): # i for row  i.e i goes from 1 to 6 
    for j in range(1,i+1): # j for column 
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

2.inverted half pyramid using*

In [17]:
x=6
for i in range(x+1,0,-1): # i for row  
    for j in range(0,i-1): # j for column
        print('*',end=' ')
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
x=int(input("Enter no of rows:")) # take input from user
for i in range(x,0,-1): # i for row  
    for j in range(0,i): # j for column  range start from 0 to i
        print('*',end=' ')
    print()

Enter no of rows: 5

* * * * *
* * * *
* * *
* *
*

In [27]:
x=int(input("Enter no of rows:"))
a=0 # initital  starting is 0
for i in range(1, x+1):no of rows print
    for space in range(1, (x-i)+1):# check the space and also in one line
        print(end='  ')
    while a!=(2*i-1):
        print("*",end=' ')
        a += 1
    a=0  # recet the rows starting from 1 
    print()

Enter no of rows: 6

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [7]:
x=int(input("Enter the number")) # take input from user
for i in range(x , 0 , -1): # define range from given number  and -1 for decrement.
    print(' ' * (x-i) + '*' * (2 * i-1)) # ' ' * (x-i) for adding space to center align and '*' * (2 * i-1) it gives correct no of star in inverted.
                                           # suppose i=5 (2*5-1=9) it print 9 star .

Enter the number 5

*********
 *******
  *****
   ***
    *

In [13]:
num=int(input("Enter the number")) # take input from user
for i in range(1,num+1): # starting range from 1 to num +1
    print('  '*(num-i),end=' ') #  print space for alignment
    for j in range(i,i*2):  #  it increasing number starting from i to i*2 i.e i= 4 it print 4,5,6
        print(j,end=' ')
    for j in range(i*2-2,i-1,-1): # i*2 -2 and goes down to i i.e i=4 it print 5,4
        print(j,end=' ')
    print()

Enter the number 6

           1
         2 3 2
       3 4 5 4 3
     4 5 6 7 6 5 4
   5 6 7 8 9 8 7 6 5
 6 7 8 9 10 11 10 9 8 7 6

# Operators

In [12]:
# Bitwise Operators 
# and (&)
a= 5 & 3  # 0101 & 0011=0001
print(a)

1

In [14]:
# or(|)
y= 5| 3  # 0101 & 0011=0111 (7)
print(y)

7

In [16]:
# XOR (^)
y=5 ^ 3 # 0101 & 0011=0110 (6)
print(y)

6

In [18]:
# NOT(~)
y= ~5  # ~0101 = 1010
print(y)

-6

In [20]:
# left shift(<<)
y=5<< 1 # move from 1 # 0101 << 1=1010(10)
print(y)

10

In [22]:
# right shift(>>)
y=5 >> 1  # 0101 << 1=0010(2)
print(y)

2

In [24]:
# Identity Operator
# is
n=5
m=n
y=(n is m )
print(y)

True

In [28]:
# is not
a=10
b=5
c=(a is not b)
print(c)

True

In [30]:
# Membership Operator
# in
x=[1,2,3]
y=1 in x
print(y)

True

In [32]:
# not in
x=[1,2,3]
y=4 not in x
print(y)

True

**Q.1.implement a program where a user enters their current saving and their monthly deposite.use assingnment oerators to update their saving account after  adding  their mothly deposite,including a monthly interest of 0.5%**

In [83]:
current_savings = float(input("Enter your current savings: ")) # take input from user 
monthly_deposit = float(input("Enter your monthly deposit: "))

# Calculate monthly interest (0.5%)
monthly_rate= 0.005  # 0.5% = 0.5 / 100 = 0.005.

# Update savings using assignment operators
current_savings += current_savings * monthly_rate  # Add interest
current_savings += monthly_deposit  # Add monthly deposit
print(f"Your updated savings after deposit and interest is:{current_savings:.2f}")

Enter your current savings:  3500
Enter your monthly deposit:  400

Your updated savings after deposit and interest is:3917.50

**Q.3.develop a system that evaluates a students performance based on scores from multiple categories(e.g, tests,assignment,project and attendance).each category should have different weight,and the pgrogram should calculate the final score based on this weight.include conditions where if the attendance score falls bellow threshould,it automatically reduces the final score by a certain percentage.**

In [1]:
# assign the weight 
test_weight = 0.3
assignment_weight = 0.2
project_weight = 0.3
attendance_weight = 0.2

stud_attendance = 70  # If attendance is less than 70%
penalty=0.1 # if you have  low attendance then your penalty is 0.1 (10%)

# take input from user
test = float(input(" Enter your Test score: "))
assignment = float(input("Enter your Assignment score: "))
project = float(input("Enter your project score : "))
attendance = float(input("Enter your Attendance : "))

# Calculate  the total score with weights
final_score = (test * test_weight) + (assignment * assignment_weight) + (project * project_weight) + (attendance * attendance_weight)

# Check for low attendance
if  stud_attendance < attendance:
    print(" student have Low attendance! Final score will be reduced.")
    final_score = final_score - (final_score * penalty)

# Show final score
print("Your Final Score:", final_score)

 Enter your Test score:  45
Enter your Assignment score:  70
Enter your project score :  66
Enter your Attendance :  70

Your Final Score: 61.3

**Q.2.write a program that calculate the compound interes on an initial invenstment over a given no of years.the user should input the initial amount the annual intrest rate the duration in year and a specific year when a withdrawal will be made.the program must adjust the calculation based on the withdraw**

In [3]:
initial_amount=float(input("Enter your initial amount :")) # take initial amount from user
annual_rate=float(input("Enter your annual rate (%) "))  # take annual rate from user
year=int(input("Enter the year :")) # take year from user
withdraw_year=int(input("enter withdraw year:"))  # take withdraw year from user
withdraw_amount=float(input("Enter the amount you have withdrawal :")) # take withdraw amount from user

for i in range(1,year + 1):  # range start from 1 to year + 1
    initial_amount=initial_amount + (initial_amount *annual_rate / 100)  # add compound interest to current amount.
    if i==withdraw_year:  # if current year is withdraw year it subtract the withdraw amount from  initial amount
       initial_amount -=  withdraw_amount
print("Final amount is :", initial_amount)

Enter your initial amount : 30000
Enter your annual rate (%)  5.0
Enter the year : 2
enter withdraw year: 1
Enter the amount you have withdrawal : 5000

Final amount is : 27825.0

**Q.1.Implement a game where the computer randomly selects a number between 1 and 100,and the user has to guess it.after each guess the program tells the user whether their guess was too higher too low.**

In [3]:
import random

x = random.randint(1, 100) # to choose random number  between 1 to 100
x=50
while True:  # This creates an infinite loop, which keeps running until we manually break out of it
    guess_no = int(input("Guess a number between 1 and 100: "))
    
    if guess_no < x:
        print("Number is Too low")
    elif guess_no > x:
        print("Number is Too high")
    else:
        print("correct")  # if the guess is not less than and not greater than, it must be equal to x private number.
        break

Guess a number between 1 and 100:  55

Number is Too high

Guess a number between 1 and 100:  50

correct

**Q.2.write a program that takes a decimal number and convert it to binary using a loop and not using built-in-bin() function**

In [12]:
num = int(input("Enter a decimal number: "))
binary = " " # create empty string ("")  which  is store in binary
while num > 0:
    binary = str(num % 2) + binary  # gets the remainder when num is divided by 2 â€” either 0 or 1. or  str use for to convert digit to a string 
    num//= 2
print("Binary number is:", binary)

Enter a decimal number:  10

Binary number is: 1010

**Q.3.write a python program to convert kilometers to miles**

In [19]:
kilometer_no= float(input("Enter distance in kilometers: "))
miles_convert = kilometer_no * 0.621371  # to convert kilometer to miles . 1 kilometer (km) = 0.621371 miles
print("The conversion kilometer to miles is:",miles_convert)

Enter distance in kilometers:  56

The conversion kilometer to miles is: 34.796776

**Q.4.write a python program to find number divisible by another number.**

In [32]:
n= int(input("Enter a number: ")) # take number from user
divisor_no = int(input("Enter the divisor: ")) # take divisor from user

if n % divisor_no== 0:  #Checks if the remainder is 0
    print(f"{n} is divisible by {divisor_no}")  # If yes, prints it's divisible
    
else:
    print(f"{n} is  divisible  by another number") # then  print divisible by another number

Enter a number:  20
Enter the divisor:  2

20 is divisible by 2

# Function
- Block of code that is organized the reusable to  perform a single action.

In [2]:
# Area of rectangle
def area_rectangle():  # define a fuction 
    l=int(input("Enter the lenght:"))
    w=int(input("Enter the width:"))
    return l * w # formula for area of rectangle
area=area_rectangle()  # call function
print("Area of rectangle is :",area)

Enter the lenght: 5
Enter the width: 4

Area of rectangle is : 20

**Parameter**
- it is variable used as a placeholder to store the value that we pass into the fuction.

**Argument**
- it is actual value
- Types of argument:
    - positional argument
    - keyword argument
    - variable lenght
    - default

In [4]:
# keyword argument
def info(name,age):
    print(f"Name:{name},Age:{age}")
info(name="neha",age=22) # keyword argument

Name:neha,Age:22

In [10]:
# variable length argument
def info(*names) :# * for args
    for name in names:
        print(name)
info("neha","moni","khushi")

neha
moni
khushi

In [30]:
def info(**kwargs):  # ** for kwargs to take keyword argument
    for first,last in kwargs.items():
        print(f"Fisrt name is {kwargs['first']} and last name is {kwargs['last']}")
info(first="Neha",last="Rikame")

Fisrt name is Neha and last name is Rikame
Fisrt name is Neha and last name is Rikame

In [34]:
def info(**kwargs):
    for key,value in kwargs.items():
        print(f"{key.capitalize()} is {value}")  # capitalize  use for to make first letter is capital and other are small
info(first='Neha',last='Rikame',age=22)

First is Neha
Last is Rikame
Age is 22

**Q.1 write a function to greet the user**

In [4]:
def greet(user):  # define greet function that take user name as input
    print(f"Hello Good Morning!,{user}")
user=input("Enter your name")
greet(user) # call function

Enter your name Neha

Hello Good Morning!,Neha

**Q.2 write a function to add two numbers.**

In [15]:
x=int(input("Enter first number:"))  # take input from user
y=int(input("Enter second number:"))
def add(x,y):  # create  add function 
        return x + y
Addition=add(x,y)  # call function
print("Addition of two number is:",Addition)

Enter first number: 11
Enter second number: 22

Addition of two number is: 33

**Q.3.write a function to find factorial of a number.**

In [7]:
def factorial(n):
    if n==1:  #if n is 0 it return 1
        return 1
    else:
        return n * factorial(n-1) 
num=int(input("enter the number"))
print("factorial of",num,"is",factorial(num))

enter the number 5

factorial of 5 is 120

**Q.4.define a function that return the result of raising the base to the exponent without using ** operator.**

In [5]:
def powerof(base, exponent):  # 2*2*2 (base=2,exponent=3)
    count = 1  # initially count is 1
    for n in range(exponent):
        count *= base
    return count


print(powerof(5,2))

25

# Built in Fuction

In [10]:
# map () : to modify all items in a list
def add(x):
    return x + x
num=[2,4,6,8]
res=map(add,num)
print(list(res))
# to add 2+2,4+4,6+6,8+8

[4, 8, 12, 16]

In [12]:
# filter () : to filter out items based on given condition
def even(n):
    return n % 2==0
num=[2,5,10,4,7,8]
res=filter(even,num)
print(list(res))

[2, 10, 4, 8]

In [18]:
# reduce (): combine all items into a single value
# it import from functools.
from functools import reduce
def multi(x,y):
    return x*y
num=[2,4,3,7]
res=reduce(multi,num)
print(res)

168

In [22]:
# lambda (): it is Anonymous function.with argument and expression
multi=lambda x:x*x
print(multi(3)) # 3*3

9

In [24]:
# enumerate () : when we get index and value
fruit=['Apple','banana','cherry']
for index,fruit in enumerate(fruit):
    print(index,fruit)

0 Apple
1 banana
2 cherry

In [30]:
# recursive () : function call itself

def fibo(n):
    if n<=1:  # base condition
        return n
    else:
        return fibo(n-1) + fibo(n-2) # recursive call
print(fibo(8))
# 1,1,2,3,5,8,13,21 fibonacci series(8) -addition of previous two number

21

**Q.1 print number from 1 to n using recursion.**

In [2]:
def number(x):
    if x > 0:   # base condition 
        number(x-1)  # recursive call
        print(x)
number(10)

1
2
3
4
5
6
7
8
9
10

**Q.2 write a recursive function to count how many digits are in a number.**

In [9]:
def digit_count(num):
    if num < 10:  # base condition  if number is greater than 10 it return 1
        return 1
    return 1 + digit_count(num // 10)  # recursive call  it floor mode by 10 to remove last digit 
print(digit_count(4535))

4

**Q.3 write a lambda  to return the last charecter of a string**

In [16]:
last_charecter=lambda  s: s[-1]  # -1 for getting last charecter in string
print(last_charecter("Neha"))

a

**Q.4.use map () to find the length of each word in a sentence.**

In [19]:
sentence=input("Enter your sentence :")
length=list(map(len,sentence.split())) # split  use for it convert the sentence into the word  and len for it count the length of each word.
print(length)  
# sentence is : I am good girl
        # split : ['I','am','good','girl']

Enter your sentence : I am good girl

[1, 2, 4, 4]

**Q.5 use map() with a lambda to add 10 to each number in a list.**

In [24]:
li=[11,30,40,60]  # define a list
result=list(map(lambda n: n+10,li)) # add 10 in each item in a list
print(result)

[21, 40, 50, 70]

**Q.6.use filter() to get number greater than 50 from a list.**

In [27]:
def greater(num):
    return num > 50
num=[20,55,67,50,10,40]
result=filter(greater,num)
print(list(result))

[55, 67]

**Q.7 use reduce() to find the maximum value in a list.**

In [36]:
from functools import reduce # to import reduce  use functools
num=[10,55,70,78,99]
result=reduce(max,num) # maximum number in the list
print(result)

99

# String manipulation
- String : It is sequence of charecter  used to represent text.
- defining a string use (" ") or (' ').

In [2]:
# Accessing charecter from string
a="Hello World"
b="""Hello
          world"""
print(a)
print(b)

Hello World
Hello
          world

In [4]:
print(a[0])      # syntax : string[start:end]
print(a[-1]) # to get last charecter use (-)

H
d

In [6]:
 # syntax : string[start:end]
print(a[0:5])

Hello

In [8]:
print(a[:5])

Hello

In [10]:
print(a[5:])

 World

In [14]:
print(a[2:6])

llo

In [16]:
# Case manipulation
print(a.upper())  # to convert upper case
print(a.lower())   # to convert lower case
print(a.capitalize()) # to change first charecter of word to capital letter.
print(a.title())  # capitlize first charecter of each word to capital letter.
print(a.swapcase()) # to reverse upper case to lower case & lower case to upper case.

HELLO WORLD
hello world
Hello world
Hello World
hELLO wORLD

In [18]:
# removing white space
c="    I like Mango    "
print(c)
print(c.lstrip())  # remove space from left side
print(c.rstrip()) # remove space from right side
print(c.strip()) # remove space from both the ends of string.

    I like Mango
I like Mango
    I like Mango
I like Mango

In [30]:
# Split and join
x="Apple,Cherry,Mango"
x_split=x.split(",")  # split for break into the parts
x_join="-".join(x_split)  # join for connect the part
print(x)
print(x_split)
print(x_join)

Apple,Cherry,Mango
['Apple', 'Cherry', 'Mango']
Apple-Cherry-Mango

In [32]:
# String checking (it return true or false based on the condition)
e="Hello123"
print(e.isalpha()) # check the string has only alphabets.
print(e.isalnum())  # check the string is  alphanumeric (albhabet or numbers)
print(e.isdigit()) # check the string  has only digits.

False
True
False

In [34]:
# Find and replace
# Find :  It find the word in the string
# replace : It repalce the string to the old string to new string.
f="Data Science is Fun"
print(f.find("Science"))
print(f.find("Cool"))

print(f.replace("Fun","Cool"))

5
-1
Data Science is Cool

In [38]:
# Reverse string (Reversing the sequence of the string)
g="Nehaa"
print(g[::-1])
print(len(g)) # to finding  length
print(g.count("a")) #  count for it return te number of times the charecter string has been repated

aaheN
5
2

In [42]:
# for embedding the string
n="Neha"
m="Pune"
print(f" My name is {n} and I am from {m}")

 My name is Neha and I am from Pune

**Q.1 Write a Python program that takes a string from the user and prints the number of characters in it.**

In [51]:
s = input("Enter the string:")

# Count the characters using len() function
count_char = len(s)

print(count_char)

Enter the string: colorfull

9

**Q.2 Take a string from the user and print its first and last characters.**

In [58]:
char=input("Enter your string:") #take  input from user
print("First charecter is :",char[0]) # for fisrt charecter
print("Last charecter is :",char[-1]) # for last charecter use (-) sign

Enter your string: Neha

First charecter is : N
Last charecter is : a

**Q.3 Take a string and check if it contains only digits.**

In [67]:
a=input("Enter your string to check contain it digit or not :")
print(a.isdigit())

Enter your string to check contain it digit or not : 123

True

**Q.4 Take a string and a character from the user. Count how many times the character appears in the string.**

In [74]:
s=input("Enter the string :") #  to take string from user 
c=input("Enter the charecter which you want :") # to take charecter from user which you count
print(s.count(c)) # count for to count the charecter which is repeted.

Enter the string : mohini
Enter the charecter which you want : i

2

**Q.5 Take a sentence, a word to replace, and the new word from the user. Replace it in the sentence.**

In [89]:
sentence=input("Enter your sentence :")  # to take sentence
old_word=input("Enter old word which you want to replace") # to take old word to replace
new_word=input("Enter New word which you want  to add it!") # to take new word to add in sentence 
New_sentence=sentence.replace(old_word,new_word)  # to relace old word to new word use (replace) method
print(New_sentence)

Enter your sentence : I like mango
Enter old word which you want to replace mango
Enter New word which you want  to add it! chocolate

I like chocolate

**Q.6 Take a string and print it in reverse order.**

In [98]:
s="Good Afternoon"
print(s[::-1]) # to reverse the string

noonretfA dooG

**Q.7 Take a comma-separated string from the user and split it into a list.**

In [107]:
s= input("Enter the comma seprated string : ") # take string from user
separated = s.split(",") # split the values by ","
print(separated)

Enter the comma seprated string :  neha,mohini,khushi

['neha', 'mohini', 'khushi']

**Q.8 Take a string input and check whether it is a palindrome (same forward and backward).**

In [116]:
x=input("Enter a string :")
if x==x[::-1]:
    print("It is palindrom")
else:
    print("Not a palindrom")

Enter a string : madam

It is palindrom

**Q.9 Take first name and last name from the user, and print a username in the format firstname.lastname (all lowercase).**

In [123]:
f=input("Enter first name :") # to get first name
l=input("Enter last name :") # to get last name

print(f.lower() + "." + l.lower())  # + to join or concatinate the  two string and lower for to get all  string in lower case.

Enter first name : Neha
Enter last name : Rikame

neha.rikame

**Q.10 Take an email address from the user and extract the domain name (text after the @).**

In [134]:
email_add = input("Enter your email: ")
domain_name = email_add.split("@")[1]  #(1 for to get text after @ sign)
print("Domain is:",domain_name)

Enter your email:  maharashtra@1234

Domain is: 1234

# List
- list is collection of items.sorted in specific order.
- list is mutable.(it can be changed)
- list is denoted by [ ].

In [2]:
# list function
a=[1,4,3,6,5,10]
print(len(a)) # finding the count of items.
print(max(a)) # finding the maximum value 
print(min(a)) # finding the minimum value
print(sum(a)) # to get total of all the items
print(sorted(a)) # sort the list

c=('a','2','3.5','4') # tuple to list conversion
print(list(c))

b="Neha" # string to list conversion
print(list(b))

6
10
1
29
[1, 3, 4, 5, 6, 10]
['a', '2', '3.5', '4']
['N', 'e', 'h', 'a']

**Q.1 Take a list of integers from the user and a new number to add. Append it to the list and print the result.**

In [6]:
# List metod
a=[1,4,3,6,5,10]
a.append(2) # adding the item to the list
print(a)

b=[8,11,14,15]
a.extend(b) # adding multiple item
print(a)

c=[35,25,63]
c.insert(1,24) # adding item to specific index (1-index,24-value)
print(c)

c.remove(63) # removing an item
print(c)

c.clear() # remove all the items
print(c)

print(a.index(3)) # return the index value

print(a.count(2)) # return the count of occurance in the list

a.sort() # to sort the item
print(a)
a.sort(reverse=True) # sorting for the list in descending order
print(a)

d=[2,4,8,10]
print(d)
d.reverse() # reverse the list
print(d)

e=d.copy() # copying/duplicating the list
print(e)

print(e.pop(1)) # removing an item from the specified index
print(e)

[1, 4, 3, 6, 5, 10, 2]
[1, 4, 3, 6, 5, 10, 2, 8, 11, 14, 15]
[35, 24, 25, 63]
[35, 24, 25]
[]
2
1
[1, 2, 3, 4, 5, 6, 8, 10, 11, 14, 15]
[15, 14, 11, 10, 8, 6, 5, 4, 3, 2, 1]
[2, 4, 8, 10]
[10, 8, 4, 2]
[10, 8, 4, 2]
8
[10, 4, 2]

**Q.1 Take a list of integer from the user and a new number to add.append it to the list and print the result.**

In [13]:
num = list(map(int, input("Enter a list of integer: ").split())) # split the input string into the list .
new_num = int(input("Enter a new number which you append into the list: "))
num.append(new_num)  # append for to add number in last position
print("New list is:", num)

Enter a list of integer:  10 20 30 40
Enter a new number which you append into the list:  90

New list is: [10, 20, 30, 40, 90]

**Q.2 Take comma-separated input from the user and store it as a tuple. Print the tuple.**

In [16]:
x= input("Enter comma-separated values: ")
comma_seprated = tuple(map(str.strip, x.split(',')))  # strip for remove space from both the end. and tuple for to convert list into the tuple
print("Tuple:", comma_seprated)

Enter comma-separated values:  10,20,45

Tuple: ('10', '20', '45')

**Q.3 Take a list from te user and convert it into the tuple.**

In [12]:
li=input("Enter list :").split() # take list from user
tuple_conversion=tuple(li)  # to convert list to tuple 
print("New tuple conversion is :",tuple_conversion)

Enter list : 10 30 3.4

New tuple conversion is : ('10', '30', '3.4')

**Q.4 Take a list of number from the user and print the total sum.**

In [19]:
user_list = list(map(int, input("Enter a list of integer: ").split())) # to take integer list
print(sum(user_list)) # sum  to total the item in the list

Enter a list of integer:  10 20 40

70

**Q.5 remove all duplicate values from a list and print the unique element.**

In [28]:
num = list(map(int, input("Enter a list of integer: ").split()))  # to take integer list
unique=list(set(num)) # convert list into set it automatically remove duplicate 
print("unique element is :",unique)

Enter a list of integer:  10 20 40 20

unique element is : [40, 10, 20]

**Q.6 Take a tuple from the user convert it into the list add a new item and convert it back to a tuple.**

In [33]:
t=tuple(map(int,input("Enter a tuple items:").split()))
l=list(t)
new_item=int(input("Enter a new item :"))
l.append(new_item)
new_tuple=tuple(l)
print(new_tuple)

Enter a tuple items: 20 16 33 49 60
Enter a new item : 10

(20, 16, 33, 49, 60, 10)

# set

In [25]:
a={2,2,4,6,8,10} # unique,unordered,mutable
print(a)

b=set([12,14,18,20]) # convert list to set
print(b)

b.add(22) # to  add a value/item we add only one element
print(b)
 
b.update([24,26,28]) # we add multiple element
print(b)

b.remove(28)  # remove the item but show error when the item isn't found
print(b)

b.discard(26)  # remove the item but dosen't show the error if the item isn't found
print(b)

c=b.pop() # removes and return a random item in the set
print(c)
print(b)

b.clear() # clear the complete set
print(c)

print(a)

b={10,12,14,16}
print(a.union(b)) # return the combined element of two sets
print(a.intersection(b)) # return the common item/values
print(a.difference(b)) # remove the common item/values
print(a.issubset(b)) # check if the set is subset
print(b.issuperset(a)) # check is the set is superset

{2, 4, 6, 8, 10}
{18, 12, 20, 14}
{12, 14, 18, 20, 22}
{12, 14, 18, 20, 22, 24, 26, 28}
{12, 14, 18, 20, 22, 24, 26}
{12, 14, 18, 20, 22, 24}
12
{14, 18, 20, 22, 24}
12
{2, 4, 6, 8, 10}
{2, 4, 6, 8, 10, 12, 14, 16}
{10}
{8, 2, 4, 6}
False
False

# Dictionary
- collection of key and value pair.
- where each key is unique.

In [4]:
emp={"name":"abc","age":26,"dept":"IT","city":"pune"}

print(emp.get("name")) # return the values of the key
print(emp.keys()) # return all keys
print(emp.values()) # return all values

for k,v in emp.items(): # return key value pair as tuple
    print(k,"-",v)

emp.update({"age":22,"desg":"Associate"}) # adds or update the key value pair
print(emp)

abc
dict_keys(['name', 'age', 'dept', 'city'])
dict_values(['abc', 26, 'IT', 'pune'])
name - abc
age - 26
dept - IT
city - pune
{'name': 'abc', 'age': 22, 'dept': 'IT', 'city': 'pune', 'desg': 'Associate'}

In [6]:
emp.popitem() # return and remove the last addeditem

('desg', 'Associate')

In [10]:
emp.setdefault("comp","xyz") # return value if key exists,if it dosn't than adds the key with default value
print(emp)

{'name': 'abc', 'age': 22, 'dept': 'IT', 'city': 'pune', 'comp': 'xyz'}

In [12]:
a=emp.copy() # copies the dictionary
emp.clear() # clear the dictionary and return the empty dict

**Q.1 Take two sets from the user and print union and intersection.**

In [15]:
set_1=set(map(int,input("Enter the elements:").split())) # take first set from user
set_2=set(map(int,input("Enter the elements:").split())) # take second set from user

union=set_1.union(set_2)  # to find union
print("The union set is:",union)

intersection=set_1.intersection(set_2) # to find intersection
print("The intersection set is :",intersection)

Enter the elements: 1 2 3 4 5
Enter the elements: 4 5 6 7 8

The union set is: {1, 2, 3, 4, 5, 6, 7, 8}
The intersection set is : {4, 5}

**Q.2 Take a list with repeated element and remove duplicate using a set.**

In [20]:
l=list(map(int,input("Enter the list elements:").split())) # take list from user

remove_duplicate=list(set(l)) # removing duplicate using set
print("After the removing duplicate element new list is:",remove_duplicate)

Enter the list elements: 1 3 1 4 5 3 8

After the removing duplicate element new list is: [1, 3, 4, 5, 8]

**Q.3 Take two dictionaries and merge them.**

In [29]:
dict_1={"name":"neha","age":22,"city":"pune"} # take fist dictionary
dict_2={"degree":"BSC","phone":86743256657} # take second dictionary
merged_dict= dict_1|dict_2  # to merge two dictionary
print("The merged dictionary is:",merged_dict)

The merged dictionary is: {'name': 'neha', 'age': 22, 'city': 'pune', 'degree': 'BSC', 'phone': 86743256657}

**Q.4 Write a program to read 3 sentences from the user and return a set of all unique word(case-insensitive).**

In [34]:
# take 3 sentence from user in lower case
sentence_1=input("Enter first sentence:").lower() 
sentence_2=input("Enter Second sentence:").lower()
sentence_3=input("Enter third sentence:").lower()

New_sentence=sentence_1 + "" +sentence_2 + "" +sentence_3 # merge this three sentences
unique_word=set(New_sentence.split()) 
print("Set of all unique word is:",unique_word)

Enter first sentence: the quick brown fox
Enter Second sentence: a quick fox jump
Enter third sentence: the lazy fox

Set of all unique word is: {'brown', 'jumpthe', 'lazy', 'foxa', 'the', 'fox', 'quick'}

**Q.5 created a nested dictionary where keys are student names and values are another ditionary with subjectmarks pairs.then print the average marks of each student.**

In [39]:
def average_marks(student): # define the function
    for stud_name, stud_marks in student.items(): # student.items display key value tuple pair
        total_marks = sum(stud_marks.values()) # sum of all the marks 
        num_subjects = len(stud_marks) # it return the number of items in dictionary
        average_marks = total_marks / num_subjects  # to calculate average marks 
        print(f"Average marks for {stud_name}: {average_marks}")
student = {
    "neha": {"Math": 80, "Science": 99, "English": 88},
    "mohini": {"Math": 90, "Science": 88, "English": 82},  # to create nested dictionary
    "khushi": {"Math": 75, "Science": 80, "English": 85}
}

average_marks(student) # call the function

Average marks for neha: 89.0
Average marks for mohini: 86.66666666666667
Average marks for khushi: 80.0

**Q.6 Given a list of dictionaries,merge them into one and sum values for keys that appear multiple times.**

In [3]:
li = [
    {'a': 1, 'b': 6},   # take dictionary  in list
    {'a': 7, 'c': 8},
    {'b': 4, 'd': 5},
    {'c': 3, 'a': 5}
]
merged_dictionary = {}  # create empty dictionary

for dicts in li:  # to  take dictionary one by one from list
    for key, value in dicts.items():  # to seprate key and value from dictionary
        if key in merged_dictionary:   # to check we take dictionary from list those key are present in other dictionary or not
            merged_dictionary[key] += value   # if key are present then add the values
        else:
            merged_dictionary[key] = value      

print("Merged dictionary is by adding their  values are:")
print(merged_dictionary)

Merged dictionary is by adding their  values are:
{'a': 13, 'b': 10, 'c': 11, 'd': 5}

**Q.1  Write a Python program that takes a password as input and checks if it meets the following requirements:**

- The password should be at least 8 characters long.
- The password should contain at least one uppercase letter.
- The password should contain at least one lowercase letter.
- The password should contain at least one digit.

In [25]:
user_password=input("Enter your password :") # take input from user
if(len(user_password)>=8 and  any (char.isupper() for char in user_password) and  # len(user_password)>=8 for password length  atleat 8 charecter.
   any(char.islower() for char in user_password) and  # any (char.isupper()  this shows The password should contain at least one uppercase letter. any use for if we find any uppercase letter in password they return true. 
   any (char.isdigit() for char in user_password)):   # char.islower() for password contain lower letter also.  char.isdigit() for it contain  atleast one digit
    print("correct password!")
else:
    print("Enter correct password")

Enter your password : Neha1234

correct password!

**Q.2 Write a Python program that takes two strings as input and checks if they're anagrams (i.e., the strings contain the same characters, but in a different order). If the strings are anagrams, the program should print "The strings are anagrams." Otherwise, it should print "The strings are not anagrams."**

In [1]:
string_1=input("Enter first string :").lower() # take first string from user in lower case 
string_2=input("Enter second string :").lower() # take second string from  user in lower case
if sorted(string_1) == sorted(string_2): # sorted for to arrange the string in sorted order  if the sorted charecter of the both string are match they are anagram
    print("The string are anagrams")
else:
    print("The string are not anagrams")

Enter first string : care
Enter second string : race

The string are anagrams

# Exception Handling
- It handling the error that occur during the program execution.

**Type of Exception handling:**
- try: If the error occur they immediately move to the except block.
- except : It catch the error throws by the  try block.
- else : It is optional in else block has no exception raised then this block execute.
- finally : It is optional.use for cleanup.

In [4]:
try:
    a=int(input("Enter he number")) # code that raises an exception
except ValueError:
    print("please enter a number") # code that runs if an exception occurs
else:
    print("no error")  # runs if no exception is raises
finally:     # runs no matter what
    print(a)

Enter he number 10

no error
10

In [8]:
try:
    num=int(input("enter a number"))
    x=2/num
except ValueError: # when user give string/charecter
    print("Invalid! please enter a number")
except ZeroDivisionError:  # when user give 0 number then they showsZeroDivisionError
    print("please enter a number a lager than zero")
else:
  print(x)

enter a number 7

0.2857142857142857

In [10]:
try:
    n1=int(input("Enter first number"))  
    n2=int(input("Enter second number"))
    print("Division is:",n1/n2)
except(Valueerror,ZeroDivisionError) as e:
    print("Error:",e)

Enter first number 3
Enter second number 5

Division is: 0.6

**Q.1 user has 5,000Rs in balance.ask how much to to withdraw.handle non-numeric input and insufficient balance.**

In [10]:
initial_balance = 5000 # initial balance

try:
    withdraw_amount= float(input("Enter amount to withdraw: "))  # Get the withdraw amount  from the user
    if withdraw_amount > initial_balance:
        print("User have Insufficient balance.")  # check if withdraw amount is greater than initial amount then print insufficient balance
    else:
        initial_balance -= withdraw_amount  # other wise withdraw amount is less than or equal to initial amount is they subtract withdraw amount from initial amount
        print("Withdraw successfully.your  New balance is :", initial_balance)  # show your new balance
except ValueError:
    print("please enter a number:")  # if user give string/char

Enter amount to withdraw:  neha

please enter a number:

**Q.2 Ask the user to enter a number.convert it to an integer,but handle invalid values like alphabets or float.**

In [23]:
try:
    number = int(input("Enter a number: ")) # take number from user
    print("Your entered number is:", number)  
except ValueError:  # user give string/char
    print("Invalid input. Please enter a whole number.")

Enter a number:  4

Your entered number is: 4

**Q.3 Ask the user to enter an email.raise an exception if it dosen't contain "@" or "."**

In [30]:
try:
    user_email = input("Enter your email: ")  # Get the email from the user
    if "@" not in user_email or "." not in user_email: # Check if the email contains "@" and "."
        raise ValueError   # Raise an exception if the email is invalid.
    print("Your Email is valid")
except ValueError: # if user give only string/char 
    print("Invalid email")

Enter your email:  xyz@.com

Your Email is valid

**Q.4 Ask user for hours worked and hourly wage.if hour are more than 24 or negative,raise an error.**

In [5]:
try:
    work_hours = float(input("Enter your hours worked: ")) # take work hour from user
    wage_hour = float(input("Enter your  hourly wage: ")) # take wage hour from user

    if work_hours < 0 or work_hours > 24: # check if work hour is greater than 0 (not negative number) and less than 24
        print("Invalid hours. Must be between 0 and 24.") 
    else:
        Total_pay = work_hours * wage_hour
        print(Total_pay)
except ValueError:
    print("Invalid input. Please enter a number.")

Enter your hours worked:  20
Enter your  hourly wage:  4800

96000.0

**Q Take input of multiple(name,marks in 3 subject) and calculate the average,assign grade,and display report card.**

In [14]:
student={} # create empty dictionary

num=int(input("Enter number of student:")) # take number of student form user
for _ in range(num):
    stud_name=input("Enter the student name:")
    math_mark=float(input("Enter math marks:"))
    sci_mark=float(input("Enter science marks:"))
    eng_mark=float(input("Enter english marks:"))

    avg=(math_mark + sci_mark + eng_mark)/3 # to find average
    if avg >= 90:
        grade="A"
    elif avg >=80:
        grade="B"
    elif avg >=70:
        grade="B+"
    elif avg >=60:
        grade="C"
    else:
        grade="F"

    student[stud_name]=(math_mark,sci_mark,eng_mark,avg,grade)
    print("REPORT CARD")
    for name,report in student.items():
        print(f"Student name:{stud_name}")
        print(f"Marks:{report[0]},{report[1]},{report[2]}")
        print(f"Average marks {report[3]}")
        print(f"student grade {report[4]}")

Enter number of student: 1
Enter the student name: 89
Enter math marks: 90
Enter science marks: 60
Enter english marks: 70

REPORT CARD
Student name:89
Marks:90.0,60.0,70.0
Average marks 73.33333333333333
student grade B+

**Q. Temprature converter with menu convert: celcius to fahrenheit and fahrenheit to celcius and celcius to kelvin and kelvin to celcius.**

In [22]:
def celsius_to_fahrenheit(celsius): # define function for celsius_to_fahrenheit
    return (celsius * 9/5) + 32  # to convert celsius_to_fahrenheit

def fahrenheit_to_celsius(fahrenheit): # define function for fahrenheit_to_celsius
    return (fahrenheit - 32) * 5/9 # to convert fahrenheit_to_celsius

def celsius_to_kelvin(celsius): # define function for celsius_to_kelvin
    return celsius + 273.15  # to convert celsius_to_kelvin

def kelvin_to_celsius(kelvin): # define function for kelvin_to_celsius
    return kelvin - 273.15 # to convert kelvin_to_celsius

def temperature_converter():  # define  the last function for temperature_converter
    while True:  # While=True for it excecute until condition is  exit
        print("\n1. Celsius to Fahrenheit")
        print("2. Fahrenheit to Celsius")
        print("3. Celsius to Kelvin")
        print("4. Kelvin to Celsius")
        print("5. Exit")

        user_choice = input("Enter your choice: ") # take user choice

        if user_choice == '1':
            celsius = float(input("Enter temperature in Celsius: "))
            fahrenheit = celsius_to_fahrenheit(celsius)
            print("The conversion of Celsius to Fahrenheit is:", fahrenheit)
        elif user_choice == '2':
            fahrenheit = float(input("Enter temperature in Fahrenheit: "))
            celsius = fahrenheit_to_celsius(fahrenheit)
            print("The conversion of Fahrenheit to Celsius is:", celsius)
        elif user_choice == '3':
            celsius = float(input("Enter temperature in Celsius: "))
            kelvin = celsius_to_kelvin(celsius)
            print("The conversion of Celsius to Kelvin is:", kelvin)
        elif user_choice == '4':
            kelvin = float(input("Enter temperature in Kelvin: "))
            celsius = kelvin_to_celsius(kelvin)
            print("The conversion of Kelvin to Celsius is:", celsius)
        elif user_choice == '5':
            print("Goodbye!")  # stop the loop
            break
        else:
            print("Invalid choice! Try again.") # if user not  give input between 1-5 then it will be print. 

temperature_converter() # call the function

1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
3. Celsius to Kelvin
4. Kelvin to Celsius
5. Exit

Enter your choice:  1
Enter temperature in Celsius:  45

The conversion of Celsius to Fahrenheit is: 113.0

1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
3. Celsius to Kelvin
4. Kelvin to Celsius
5. Exit

Enter your choice:  3
Enter temperature in Celsius:  79.7

The conversion of Celsius to Kelvin is: 352.84999999999997

1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
3. Celsius to Kelvin
4. Kelvin to Celsius
5. Exit

Enter your choice:  5

Goodbye!

**Q. Simulation a login system with a predefined username and password.**

In [29]:
username = "colorfull" # Predefined username and password
password = "Ayz1234"
def password_rule(pas): # create function for password rule
    if len(pwd) < 8: # password contain atleast 8 charecter
        return "Password too short"
    elif not password.search("[a-z]", pas): # password contain atleast one lower case letter
        return "Password contain lowercase letter"
    elif not password.search("[A-Z]", pas):  # password contain atleast one upper case letter
        return "Password contain uppercase letter"
    elif not password.search("[0-9]", pas):  # password should contain digits 
        return "Password contain atleast one digit"
    else:
        return "Valid"
user = input("Enter  the username: ") # take user_name and password from user 
pas= input("Enter the  password: ")

if user == username and pas== password: # if user & pas it match  to the username and password
    print("Login successful!") # print login sucessfull
else:
    print("Invalid username or password") # other wise it return invalid password & username

Enter  the username:  colorfull
Enter the  password:  Ayz1234

Login successful!

**Q.python program for to find cube of number entered by the user.**

In [34]:
number = int(input("Enter the number: "))  # take input from user
cube = number ** 3 # to find cube of the number
print(f"The cube of {number} is {cube}")

Enter the number:  5

The cube of 5 is 125