**Comments in Python**

**1.single line comment use #**

**2.Multi Line comment use (Triple cot) ("""    """)**

In [3]:
# multi line comment use """  """(triple cot) or single line comment use # (hash)
"""
  hello world 
"""
print("hello world")

hello world

**Data Type**

In [5]:
a=12 # int
b=10.5 # float
c=5+ 6j #complex number
d=" Good Morning" # string

**Sequence data type**
- list  
- Tuple
- set
- dictionary

In [7]:
# list
x=["xyz","1","20.8","abc_20"]
print(x)

# tuple
y=("neha","28","56.9","abc_78")
print(y)

# set
z={"3","pqr","moni"}
print(z)

# dictionary
d={"name":"Neha","age":"22"}
print(d)

['xyz', '1', '20.8', 'abc_20']
('neha', '28', '56.9', 'abc_78')
{'3', 'moni', 'pqr'}
{'name': 'Neha', 'age': '22'}

**Type conversion in Python**

In [9]:
type(x)

list

In [10]:
# list to tuple
tuple(x)
type(x)

list

In [11]:
#int to string
type(a)
str(a)

'12'

In [12]:
print(a)

12

In [13]:
ab = 12 # int to float 
ba=12.5  # float to int
ca="233" # string to int
xy=["asd","sdc","sds"]  # list to tuple
df=("xadi","243","34f","24dsdz") # convert to set
gf={"sdsj","ffgs","dfytf","tygy"} # convert to list

In [14]:
ab = 12 

float(ab) # int to float

12.0

In [15]:
ba=12.5
int(ba) # float to int

12

In [16]:
ca="233"
int(ca) # string to int

233

In [17]:
xy=["asd","sdc","sds"]
tuple(xy) # list to tuple

('asd', 'sdc', 'sds')

In [18]:
df=("xadi","243","34f","24dsdz")
set(df) # convert to set

{'243', '24dsdz', '34f', 'xadi'}

In [19]:
gf={"sdsj","ffgs","dfytf","tygy"}
list(gf) # convert to list

['dfytf', 'sdsj', 'ffgs', 'tygy']

# Control structure & conditional statement

In [37]:
# if else
x=int(input("enter a integer:")) # take input from user
if x % 2==0:
    print("x is even") # check number is even or odd if  condition is true then return x is even
else:
    print("x is odd") # number is odd then return x is odd

enter a integer: 5

x is odd

In [47]:
# if elif else
percentage=float(input("Enter your percentage:"))
if percentage >=90:  # check percentage is greater than 90  return Grade A +
    print("Grade A+")
elif percentage >= 80: #check percentage is greater than 80  return Grade A
    print("Grade A")
elif percentage >=70:  #check percentage is greater than 70  return Grade B+
    print("Grade B+")
elif percentage >=60:  #check percentage is greater than 60  return Grade B
    print("Grade B")
elif percentage >=40:  #check percentage is greater than 40  return pass 
    print("pass")
else:
    print("Fail")  # other wise return Fail (leass than 40)

Enter your percentage: 86

Grade A

# Loops
- perform task repeatadly.

In [52]:
# for loop # use when we have any sequence
number=5
for i in range(1,11):
    print(number,'x',i,'=',number*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [63]:
# while loop 
count=1  # initial digit
while count <=10:  # digit less than equal to 10  # when conditon is true until while loop excuted. 
    print(count)
    count +=1 # for increase  digit

1
2
3
4
5
6
7
8
9
10

In [5]:
#1.minimum of three number
a=int(input("Enter first number:"))
b=int(input("Enter Second number:"))
c=int(input("Enter third number:"))
if a < b:
    print("A is minimum number")
elif b < c:
    print("B is minimum number")
else:
    print("C is minimum number")

Enter first number: 10
Enter Second number: 20
Enter third number: 30

A is minimum number

In [30]:
# 2.check number is prime or not
num=int(input("Enter number:")) # take input form user
count=0   # count initialized to 0
for i in range(1,num+1):   # it start form 1 to num
    if num % i==0:
        count=count +1 # if it is divisible by i the count is increase
if count == 2: 
    print(num,"is prime number")
else:
    print(num,"is not prime number")

Enter number: 7

7 is prime number

In [3]:
#3. count down timer take the number as user input and count down the number till 0
count_down_time=int(input("entre the count down time:"))
while count_down_time >=0:
    print("count down time ",count_down_time,)
    count_down_time -=1

entre the count down time: 5

count down time  5
count down time  4
count down time  3
count down time  2
count down time  1
count down time  0

In [15]:
# 4.number pyramid
n=int(input("enter the number"))
for i in range(1,n+1):  # i for row
    for j in range(1,i+1):  # j for column
        print(j ,end=' ')
    print() # print number to the next line

enter the number 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [17]:
rows=int(input("enter the number"))
for i in range(1,rows+1):
    print(*range(1,i+1)) # * (all) use for unpack the output pattern.

enter the number 4

1
1 2
1 2 3
1 2 3 4

# loop control Statement
- break : It break the condition until its execute. 
- continue : continue the condition (check all condition).
- pass : work as a place holder. (when we have no logic or empty loop then we use pass)

**1.write a program that print all prime number within a specified range provided by the user.**

In [6]:
start_no=int(input("Enter start number:")) # take  starting digit from user
end_no=int(input("Enter end number:"))  # take last digitfrom user
print(f"prime number between {start_no} and {end_no}:")
for i in range(start_no,end_no + 1):   # define the range where which we want to prime number between given range.
    if i > 1:                       # this check the number is less than 1 i.e not prime # end _no +1 last disgit also include
        for num in range(2,i):
            if i% num == 0:       # check the number has any divisible by 1 or itself
                break    # not prime  and exit the loop
        else:
            print(i)  # print only prime number

Enter start number: 1
Enter end number: 20

prime number between 1 and 20:
2
3
5
7
11
13
17
19

**2.sum of natural number**

In [1]:
number=int(input("Enter a number:")) # take input from user
sum=0  # intial  sum is 0
for i in range(1,number + 1): # define the range start from 1  upto number which we provide.
    sum +=i  # add number 
 
print("the sum of natural number is",sum)

Enter a number: 23

the sum of natural number is 276

**3.write a program that print all even number between two number provided by the user.**

In [16]:
first=int(input("Enter start number:")) # take  starting digit from user
last=int(input("Enter end number:"))  # take last digitfrom user
print(f"even number between {first} and {last}:")
for i in range(first,last + 1):
    if i % 2 == 0:
        print(i)

Enter start number: 1
Enter end number: 10

even number between 1 and 10:
2
4
6
8
10

5.**write a program to calculate the sum of the digit of a number provided by the user.**

In [7]:
number=int(input("Enter a number:"))
sum=0
while number > 0: 
    sum += number % 10 # add last digit digit to sum
    number //= 10  # remove last digit from number
print("sum of digit:",sum)

Enter a number: 27

sum of digit: 9

**6.write a program that count the number of vowels in a given string.**

In [34]:
string=input("Enter your string:")
vowel=0  # initial count is 0
for i in string:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O'  or i=='U':  # check condition (vowel like a,e,i,o,u or A,E,I,O,U  present in the string or not)
        vowel=vowel + 1  # if  yes then add it
print("The count of Vowels are:",vowel)

Enter your string: Neha

The count of Vowels are: 2

**7.calculate the GCD(Gretest common divisor)**

In [41]:
num1=int(input("enter the first number :"))
num2=int(input("enter the second number:"))
x=num1
y=num2
while num1 != num2:
    if num1 > num2:
        num1 -= num2 # if num1 is less than num2 and subtract it from num2 and strore in num1
    else:
        num2 -= num1
print("GCD of",x,"and",y,"is",num1)

enter the first number : 36
enter the second number: 60

GCD of 36 and 60 is 12

4.**convert temprature from celsius to fahrenheit**

In [3]:
temprature=float(input("Enter the Temprature  in celcius:")) # take input from user
fahreheit=(9/5*temprature)+32  # to convert celcius  to fahreheit
print("Temprature in Fahreheit is :",fahreheit)

Enter the Temprature  in celcius: 46

Temprature in Fahreheit is : 114.8

**1.program to print half pyramid using***

In [3]:
x=6
for i in range(1,x+1): # i for row  i.e i goes from 1 to 6 
    for j in range(1,i+1): # j for column 
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

2.inverted half pyramid using*

In [17]:
x=6
for i in range(x+1,0,-1): # i for row  
    for j in range(0,i-1): # j for column
        print('*',end=' ')
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
x=int(input("Enter no of rows:")) # take input from user
for i in range(x,0,-1): # i for row  
    for j in range(0,i): # j for column  range start from 0 to i
        print('*',end=' ')
    print()

Enter no of rows: 5

* * * * *
* * * *
* * *
* *
*

In [27]:
x=int(input("Enter no of rows:"))
a=0 # initital  starting is 0
for i in range(1, x+1):no of rows print
    for space in range(1, (x-i)+1):# check the space and also in one line
        print(end='  ')
    while a!=(2*i-1):
        print("*",end=' ')
        a += 1
    a=0  # recet the rows starting from 1 
    print()

Enter no of rows: 6

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [7]:
x=int(input("Enter the number")) # take input from user
for i in range(x , 0 , -1): # define range from given number  and -1 for decrement.
    print(' ' * (x-i) + '*' * (2 * i-1)) # ' ' * (x-i) for adding space to center align and '*' * (2 * i-1) it gives correct no of star in inverted.
                                           # suppose i=5 (2*5-1=9) it print 9 star .

Enter the number 5

*********
 *******
  *****
   ***
    *

In [13]:
num=int(input("Enter the number")) # take input from user
for i in range(1,num+1): # starting range from 1 to num +1
    print('  '*(num-i),end=' ') #  print space for alignment
    for j in range(i,i*2):  #  it increasing number starting from i to i*2 i.e i= 4 it print 4,5,6
        print(j,end=' ')
    for j in range(i*2-2,i-1,-1): # i*2 -2 and goes down to i i.e i=4 it print 5,4
        print(j,end=' ')
    print()

Enter the number 6

           1
         2 3 2
       3 4 5 4 3
     4 5 6 7 6 5 4
   5 6 7 8 9 8 7 6 5
 6 7 8 9 10 11 10 9 8 7 6

# Operators

In [12]:
# Bitwise Operators 
# and (&)
a= 5 & 3  # 0101 & 0011=0001
print(a)

1

In [14]:
# or(|)
y= 5| 3  # 0101 & 0011=0111 (7)
print(y)

7

In [16]:
# XOR (^)
y=5 ^ 3 # 0101 & 0011=0110 (6)
print(y)

6

In [18]:
# NOT(~)
y= ~5  # ~0101 = 1010
print(y)

-6

In [20]:
# left shift(<<)
y=5<< 1 # move from 1 # 0101 << 1=1010(10)
print(y)

10

In [22]:
# right shift(>>)
y=5 >> 1  # 0101 << 1=0010(2)
print(y)

2

In [24]:
# Identity Operator
# is
n=5
m=n
y=(n is m )
print(y)

True

In [28]:
# is not
a=10
b=5
c=(a is not b)
print(c)

True

In [30]:
# Membership Operator
# in
x=[1,2,3]
y=1 in x
print(y)

True

In [32]:
# not in
x=[1,2,3]
y=4 not in x
print(y)

True

**Q.1.implement a program where a user enters their current saving and their monthly deposite.use assingnment oerators to update their saving account after  adding  their mothly deposite,including a monthly interest of 0.5%**

In [83]:
current_savings = float(input("Enter your current savings: ")) # take input from user 
monthly_deposit = float(input("Enter your monthly deposit: "))

# Calculate monthly interest (0.5%)
monthly_rate= 0.005  # 0.5% = 0.5 / 100 = 0.005.

# Update savings using assignment operators
current_savings += current_savings * monthly_rate  # Add interest
current_savings += monthly_deposit  # Add monthly deposit
print(f"Your updated savings after deposit and interest is:{current_savings:.2f}")

Enter your current savings:  3500
Enter your monthly deposit:  400

Your updated savings after deposit and interest is:3917.50

**Q.3.develop a system that evaluates a students performance based on scores from multiple categories(e.g, tests,assignment,project and attendance).each category should have different weight,and the pgrogram should calculate the final score based on this weight.include conditions where if the attendance score falls bellow threshould,it automatically reduces the final score by a certain percentage.**

In [1]:
# assign the weight 
test_weight = 0.3
assignment_weight = 0.2
project_weight = 0.3
attendance_weight = 0.2

stud_attendance = 70  # If attendance is less than 70%
penalty=0.1 # if you have  low attendance then your penalty is 0.1 (10%)

# take input from user
test = float(input(" Enter your Test score: "))
assignment = float(input("Enter your Assignment score: "))
project = float(input("Enter your project score : "))
attendance = float(input("Enter your Attendance : "))

# Calculate  the total score with weights
final_score = (test * test_weight) + (assignment * assignment_weight) + (project * project_weight) + (attendance * attendance_weight)

# Check for low attendance
if  stud_attendance < attendance:
    print(" student have Low attendance! Final score will be reduced.")
    final_score = final_score - (final_score * penalty)

# Show final score
print("Your Final Score:", final_score)

 Enter your Test score:  45
Enter your Assignment score:  70
Enter your project score :  66
Enter your Attendance :  70

Your Final Score: 61.3

**Q.2.write a program that calculate the compound interes on an initial invenstment over a given no of years.the user should input the initial amount the annual intrest rate the duration in year and a specific year when a withdrawal will be made.the program must adjust the calculation based on the withdraw**

In [3]:
initial_amount=float(input("Enter your initial amount :")) # take initial amount from user
annual_rate=float(input("Enter your annual rate (%) "))  # take annual rate from user
year=int(input("Enter the year :")) # take year from user
withdraw_year=int(input("enter withdraw year:"))  # take withdraw year from user
withdraw_amount=float(input("Enter the amount you have withdrawal :")) # take withdraw amount from user

for i in range(1,year + 1):  # range start from 1 to year + 1
    initial_amount=initial_amount + (initial_amount *annual_rate / 100)  # add compound interest to current amount.
    if i==withdraw_year:  # if current year is withdraw year it subtract the withdraw amount from  initial amount
       initial_amount -=  withdraw_amount
print("Final amount is :", initial_amount)

Enter your initial amount : 30000
Enter your annual rate (%)  5.0
Enter the year : 2
enter withdraw year: 1
Enter the amount you have withdrawal : 5000

Final amount is : 27825.0

**Q.1.Implement a game where the computer randomly selects a number between 1 and 100,and the user has to guess it.after each guess the program tells the user whether their guess was too higher too low.**

In [3]:
import random

x = random.randint(1, 100) # to choose random number  between 1 to 100
x=50
while True:  # This creates an infinite loop, which keeps running until we manually break out of it
    guess_no = int(input("Guess a number between 1 and 100: "))
    
    if guess_no < x:
        print("Number is Too low")
    elif guess_no > x:
        print("Number is Too high")
    else:
        print("correct")  # if the guess is not less than and not greater than, it must be equal to x private number.
        break

Guess a number between 1 and 100:  55

Number is Too high

Guess a number between 1 and 100:  50

correct

**Q.2.write a program that takes a decimal number and convert it to binary using a loop and not using built-in-bin() function**

In [12]:
num = int(input("Enter a decimal number: "))
binary = " " # create empty string ("")  which  is store in binary
while num > 0:
    binary = str(num % 2) + binary  # gets the remainder when num is divided by 2 — either 0 or 1. or  str use for to convert digit to a string 
    num//= 2
print("Binary number is:", binary)

Enter a decimal number:  10

Binary number is: 1010

**Q.3.write a python program to convert kilometers to miles**

In [19]:
kilometer_no= float(input("Enter distance in kilometers: "))
miles_convert = kilometer_no * 0.621371  # to convert kilometer to miles . 1 kilometer (km) = 0.621371 miles
print("The conversion kilometer to miles is:",miles_convert)

Enter distance in kilometers:  56

The conversion kilometer to miles is: 34.796776

**Q.4.write a python program to find number divisible by another number.**

In [32]:
n= int(input("Enter a number: ")) # take number from user
divisor_no = int(input("Enter the divisor: ")) # take divisor from user

if n % divisor_no== 0:  #Checks if the remainder is 0
    print(f"{n} is divisible by {divisor_no}")  # If yes, prints it's divisible
    
else:
    print(f"{n} is  divisible  by another number") # then  print divisible by another number

Enter a number:  20
Enter the divisor:  2

20 is divisible by 2

# Function
- Block of code that is organized the reusable to  perform a single action.

In [2]:
# Area of rectangle
def area_rectangle():  # define a fuction 
    l=int(input("Enter the lenght:"))
    w=int(input("Enter the width:"))
    return l * w # formula for area of rectangle
area=area_rectangle()  # call function
print("Area of rectangle is :",area)

Enter the lenght: 5
Enter the width: 4

Area of rectangle is : 20

**Parameter**
- it is variable used as a placeholder to store the value that we pass into the fuction.

**Argument**
- it is actual value
- Types of argument:
    - positional argument
    - keyword argument
    - variable lenght
    - default

In [4]:
# keyword argument
def info(name,age):
    print(f"Name:{name},Age:{age}")
info(name="neha",age=22) # keyword argument

Name:neha,Age:22

In [10]:
# variable length argument
def info(*names) :# * for args
    for name in names:
        print(name)
info("neha","moni","khushi")

neha
moni
khushi

In [30]:
def info(**kwargs):  # ** for kwargs to take keyword argument
    for first,last in kwargs.items():
        print(f"Fisrt name is {kwargs['first']} and last name is {kwargs['last']}")
info(first="Neha",last="Rikame")

Fisrt name is Neha and last name is Rikame
Fisrt name is Neha and last name is Rikame

In [34]:
def info(**kwargs):
    for key,value in kwargs.items():
        print(f"{key.capitalize()} is {value}")  # capitalize  use for to make first letter is capital and other are small
info(first='Neha',last='Rikame',age=22)

First is Neha
Last is Rikame
Age is 22

**Q.1 write a function to greet the user**

In [4]:
def greet(user):  # define greet function that take user name as input
    print(f"Hello Good Morning!,{user}")
user=input("Enter your name")
greet(user) # call function

Enter your name Neha

Hello Good Morning!,Neha

**Q.2 write a function to add two numbers.**

In [15]:
x=int(input("Enter first number:"))  # take input from user
y=int(input("Enter second number:"))
def add(x,y):  # create  add function 
        return x + y
Addition=add(x,y)  # call function
print("Addition of two number is:",Addition)

Enter first number: 11
Enter second number: 22

Addition of two number is: 33

**Q.3.write a function to find factorial of a number.**

In [7]:
def factorial(n):
    if n==1:  #if n is 0 it return 1
        return 1
    else:
        return n * factorial(n-1) 
num=int(input("enter the number"))
print("factorial of",num,"is",factorial(num))

enter the number 5

factorial of 5 is 120

**Q.4.define a function that return the result of raising the base to the exponent without using ** operator.**

In [5]:
def powerof(base, exponent):  # 2*2*2 (base=2,exponent=3)
    count = 1  # initially count is 1
    for n in range(exponent):
        count *= base
    return count


print(powerof(5,2))

25

# Built in Fuction

In [10]:
# map () : to modify all items in a list
def add(x):
    return x + x
num=[2,4,6,8]
res=map(add,num)
print(list(res))
# to add 2+2,4+4,6+6,8+8

[4, 8, 12, 16]

In [12]:
# filter () : to filter out items based on given condition
def even(n):
    return n % 2==0
num=[2,5,10,4,7,8]
res=filter(even,num)
print(list(res))

[2, 10, 4, 8]

In [18]:
# reduce (): combine all items into a single value
# it import from functools.
from functools import reduce
def multi(x,y):
    return x*y
num=[2,4,3,7]
res=reduce(multi,num)
print(res)

168

In [22]:
# lambda (): it is Anonymous function.with argument and expression
multi=lambda x:x*x
print(multi(3)) # 3*3

9

In [24]:
# enumerate () : when we get index and value
fruit=['Apple','banana','cherry']
for index,fruit in enumerate(fruit):
    print(index,fruit)

0 Apple
1 banana
2 cherry

In [30]:
# recursive () : function call itself

def fibo(n):
    if n<=1:  # base condition
        return n
    else:
        return fibo(n-1) + fibo(n-2) # recursive call
print(fibo(8))
# 1,1,2,3,5,8,13,21 fibonacci series(8) -addition of previous two number

21

**Q.1 print number from 1 to n using recursion.**

In [2]:
def number(x):
    if x > 0:   # base condition 
        number(x-1)  # recursive call
        print(x)
number(10)

1
2
3
4
5
6
7
8
9
10

**Q.2 write a recursive function to count how many digits are in a number.**

In [9]:
def digit_count(num):
    if num < 10:  # base condition  if number is greater than 10 it return 1
        return 1
    return 1 + digit_count(num // 10)  # recursive call  it floor mode by 10 to remove last digit 
print(digit_count(4535))

4

**Q.3 write a lambda  to return the last charecter of a string**

In [16]:
last_charecter=lambda  s: s[-1]  # -1 for getting last charecter in string
print(last_charecter("Neha"))

a

**Q.4.use map () to find the length of each word in a sentence.**

In [19]:
sentence=input("Enter your sentence :")
length=list(map(len,sentence.split())) # split  use for it convert the sentence into the word  and len for it count the length of each word.
print(length)  
# sentence is : I am good girl
        # split : ['I','am','good','girl']

Enter your sentence : I am good girl

[1, 2, 4, 4]

**Q.5 use map() with a lambda to add 10 to each number in a list.**

In [24]:
li=[11,30,40,60]  # define a list
result=list(map(lambda n: n+10,li)) # add 10 in each item in a list
print(result)

[21, 40, 50, 70]

**Q.6.use filter() to get number greater than 50 from a list.**

In [27]:
def greater(num):
    return num > 50
num=[20,55,67,50,10,40]
result=filter(greater,num)
print(list(result))

[55, 67]

**Q.7 use reduce() to find the maximum value in a list.**

In [36]:
from functools import reduce # to import reduce  use functools
num=[10,55,70,78,99]
result=reduce(max,num) # maximum number in the list
print(result)

99