**Comments in Python**

**1.single line comment use #**

**2.Multi Line comment use (Triple cot) ("""    """)**

In [3]:
# multi line comment use """  """(triple cot) or single line comment use # (hash)
"""
  hello world 
"""
print("hello world")

hello world

**Data Type**

In [5]:
a=12 # int
b=10.5 # float
c=5+ 6j #complex number
d=" Good Morning" # string

**Sequence data type**
- list  
- Tuple
- set
- dictionary

In [7]:
# list
x=["xyz","1","20.8","abc_20"]
print(x)

# tuple
y=("neha","28","56.9","abc_78")
print(y)

# set
z={"3","pqr","moni"}
print(z)

# dictionary
d={"name":"Neha","age":"22"}
print(d)

['xyz', '1', '20.8', 'abc_20']
('neha', '28', '56.9', 'abc_78')
{'3', 'moni', 'pqr'}
{'name': 'Neha', 'age': '22'}

**Type conversion in Python**

In [9]:
type(x)

list

In [10]:
# list to tuple
tuple(x)
type(x)

list

In [11]:
#int to string
type(a)
str(a)

'12'

In [12]:
print(a)

12

In [13]:
ab = 12 # int to float 
ba=12.5  # float to int
ca="233" # string to int
xy=["asd","sdc","sds"]  # list to tuple
df=("xadi","243","34f","24dsdz") # convert to set
gf={"sdsj","ffgs","dfytf","tygy"} # convert to list

In [14]:
ab = 12 

float(ab) # int to float

12.0

In [15]:
ba=12.5
int(ba) # float to int

12

In [16]:
ca="233"
int(ca) # string to int

233

In [17]:
xy=["asd","sdc","sds"]
tuple(xy) # list to tuple

('asd', 'sdc', 'sds')

In [18]:
df=("xadi","243","34f","24dsdz")
set(df) # convert to set

{'243', '24dsdz', '34f', 'xadi'}

In [19]:
gf={"sdsj","ffgs","dfytf","tygy"}
list(gf) # convert to list

['dfytf', 'sdsj', 'ffgs', 'tygy']

# Control structure & conditional statement

In [37]:
# if else
x=int(input("enter a integer:")) # take input from user
if x % 2==0:
    print("x is even") # check number is even or odd if  condition is true then return x is even
else:
    print("x is odd") # number is odd then return x is odd

enter a integer: 5

x is odd

In [47]:
# if elif else
percentage=float(input("Enter your percentage:"))
if percentage >=90:  # check percentage is greater than 90  return Grade A +
    print("Grade A+")
elif percentage >= 80: #check percentage is greater than 80  return Grade A
    print("Grade A")
elif percentage >=70:  #check percentage is greater than 70  return Grade B+
    print("Grade B+")
elif percentage >=60:  #check percentage is greater than 60  return Grade B
    print("Grade B")
elif percentage >=40:  #check percentage is greater than 40  return pass 
    print("pass")
else:
    print("Fail")  # other wise return Fail (leass than 40)

Enter your percentage: 86

Grade A

# Loops
- perform task repeatadly.

In [52]:
# for loop # use when we have any sequence
number=5
for i in range(1,11):
    print(number,'x',i,'=',number*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [63]:
# while loop 
count=1  # initial digit
while count <=10:  # digit less than equal to 10  # when conditon is true until while loop excuted. 
    print(count)
    count +=1 # for increase  digit

1
2
3
4
5
6
7
8
9
10

In [5]:
#1.minimum of three number
a=int(input("Enter first number:"))
b=int(input("Enter Second number:"))
c=int(input("Enter third number:"))
if a < b:
    print("A is minimum number")
elif b < c:
    print("B is minimum number")
else:
    print("C is minimum number")

Enter first number: 10
Enter Second number: 20
Enter third number: 30

A is minimum number

In [30]:
# 2.check number is prime or not
num=int(input("Enter number:")) # take input form user
count=0   # count initialized to 0
for i in range(1,num+1):   # it start form 1 to num
    if num % i==0:
        count=count +1 # if it is divisible by i the count is increase
if count == 2: 
    print(num,"is prime number")
else:
    print(num,"is not prime number")

Enter number: 7

7 is prime number

In [3]:
#3. count down timer take the number as user input and count down the number till 0
count_down_time=int(input("entre the count down time:"))
while count_down_time >=0:
    print("count down time ",count_down_time,)
    count_down_time -=1

entre the count down time: 5

count down time  5
count down time  4
count down time  3
count down time  2
count down time  1
count down time  0

In [15]:
# 4.number pyramid
n=int(input("enter the number"))
for i in range(1,n+1):  # i for row
    for j in range(1,i+1):  # j for column
        print(j ,end=' ')
    print() # print number to the next line

enter the number 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [17]:
rows=int(input("enter the number"))
for i in range(1,rows+1):
    print(*range(1,i+1)) # * (all) use for unpack the output pattern.

enter the number 4

1
1 2
1 2 3
1 2 3 4

# loop control Statement
- break : It break the condition until its execute. 
- continue : continue the condition (check all condition).
- pass : work as a place holder. (when we have no logic or empty loop then we use pass)

**1.write a program that print all prime number within a specified range provided by the user.**

In [6]:
start_no=int(input("Enter start number:")) # take  starting digit from user
end_no=int(input("Enter end number:"))  # take last digitfrom user
print(f"prime number between {start_no} and {end_no}:")
for i in range(start_no,end_no + 1):   # define the range where which we want to prime number between given range.
    if i > 1:                       # this check the number is less than 1 i.e not prime # end _no +1 last disgit also include
        for num in range(2,i):
            if i% num == 0:       # check the number has any divisible by 1 or itself
                break    # not prime  and exit the loop
        else:
            print(i)  # print only prime number

Enter start number: 1
Enter end number: 20

prime number between 1 and 20:
2
3
5
7
11
13
17
19

**2.sum of natural number**

In [1]:
number=int(input("Enter a number:")) # take input from user
sum=0  # intial  sum is 0
for i in range(1,number + 1): # define the range start from 1  upto number which we provide.
    sum +=i  # add number 
 
print("the sum of natural number is",sum)

Enter a number: 23

the sum of natural number is 276

**3.write a program that print all even number between two number provided by the user.**

In [16]:
first=int(input("Enter start number:")) # take  starting digit from user
last=int(input("Enter end number:"))  # take last digitfrom user
print(f"even number between {first} and {last}:")
for i in range(first,last + 1):
    if i % 2 == 0:
        print(i)

Enter start number: 1
Enter end number: 10

even number between 1 and 10:
2
4
6
8
10

5.**write a program to calculate the sum of the digit of a number provided by the user.**

In [7]:
number=int(input("Enter a number:"))
sum=0
while number > 0: 
    sum += number % 10 # add last digit digit to sum
    number //= 10  # remove last digit from number
print("sum of digit:",sum)

Enter a number: 27

sum of digit: 9

**6.write a program that count the number of vowels in a given string.**

In [34]:
string=input("Enter your string:")
vowel=0  # initial count is 0
for i in string:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O'  or i=='U':  # check condition (vowel like a,e,i,o,u or A,E,I,O,U  present in the string or not)
        vowel=vowel + 1  # if  yes then add it
print("The count of Vowels are:",vowel)

Enter your string: Neha

The count of Vowels are: 2

**7.calculate the GCD(Gretest common divisor)**

In [41]:
num1=int(input("enter the first number :"))
num2=int(input("enter the second number:"))
x=num1
y=num2
while num1 != num2:
    if num1 > num2:
        num1 -= num2 # if num1 is less than num2 and subtract it from num2 and strore in num1
    else:
        num2 -= num1
print("GCD of",x,"and",y,"is",num1)

enter the first number : 36
enter the second number: 60

GCD of 36 and 60 is 12

4.**convert temprature from celsius to fahrenheit**

In [3]:
temprature=float(input("Enter the Temprature  in celcius:")) # take input from user
fahreheit=(9/5*temprature)+32  # to convert celcius  to fahreheit
print("Temprature in Fahreheit is :",fahreheit)

Enter the Temprature  in celcius: 46

Temprature in Fahreheit is : 114.8

**1.program to print half pyramid using***

In [3]:
x=6
for i in range(1,x+1): # i for row  i.e i goes from 1 to 6 
    for j in range(1,i+1): # j for column 
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

2.inverted half pyramid using*

In [17]:
x=6
for i in range(x+1,0,-1): # i for row  
    for j in range(0,i-1): # j for column
        print('*',end=' ')
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
x=int(input("Enter no of rows:")) # take input from user
for i in range(x,0,-1): # i for row  
    for j in range(0,i): # j for column  range start from 0 to i
        print('*',end=' ')
    print()

Enter no of rows: 5

* * * * *
* * * *
* * *
* *
*

In [27]:
x=int(input("Enter no of rows:"))
a=0 # initital  starting is 0
for i in range(1, x+1):no of rows print
    for space in range(1, (x-i)+1):# check the space and also in one line
        print(end='  ')
    while a!=(2*i-1):
        print("*",end=' ')
        a += 1
    a=0  # recet the rows starting from 1 
    print()

Enter no of rows: 6

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *